.page-header {
    
    text-align: center;
    font-size: 75px;
    border: 5px solid;
    margin: 5px;
    padding: 5px;

}



.fish-collection {
    border: 5px solid;
    margin: 5px;
    padding: 5px;
    width: 500px;
    height: 450px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

.fish-image {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 50%;
  }

  .fish-list {
      position: relative;
      left: 300px;
      right: auto;
      bottom: 160px;
  }

  .travel-tips {
      border: 5px solid;
    margin: 5px;
    padding-left: 5px;
    width: 790px;
   
  }

  .tank-tips {
    border: 5px solid;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 450px;
}

.main-layout {
    display: flex;
}
.pic {
    display: flex;
    flex-direction: column;
}

.aruba {
    width: 100%;
    height: 300px;
}

.hawaii {
    width: 100%;
    height: 300px;
}
